<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found - Revadhil</title>
    <link href="https://fonts.cdnfonts.com/css/dirtyline-36daysoftype-2022" rel="stylesheet">                
    <link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        body {
            background-color: #222222;
            color: #ffffff;
            font-family: 'Clash Display', sans-serif;
        }
        .error-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* background-image: url('https://source.unsplash.com/random/1600x900'); */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .error-content {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 30px;
            border-radius: 20px;
        }
        .error-title {
            font-size: 6rem;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin-bottom: 20px;
            color: #ffc107;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .error-message {
            font-size: 2rem;
            margin-bottom: 30px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
        .btn {
            font-family: 'Dirtyline - 36daysoftype - 2022', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 0;
            padding: 20px 40px;
            background-color: #ffc107;
            color: #222222;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-in-out;
        }
        .btn:hover {
            background-color: #ffffff;
            color: #ffc107;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-content">
            <h1 class="error-title">404</h1>
            <p class="error-message">Oops! looks like you are lost</p>
            <a href="/" class="btn">Go back to home page</a>
        </div>
    </div>
</body>
</html>
