<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Contact <%= title  %></title>
<link rel="stylesheet" href="../../public/style.css">     
  <link href="https://fonts.cdnfonts.com/css/dirtyline-36daysoftype-2022" rel="stylesheet">                
  <link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

<style>
    body {
      background-color: #222222;
			background-color: #f8f9fa;
    }
    .display-1 {
      color: #ffc107;
      font-weight: bold;
    }
    .lead {
      color: #424242;
      
      font-size: 1.2rem;
      line-height: 2rem;
      margin: 2rem 0;
    }
  </style>
</head>
<body class="bg-dark">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col text-center">
        <h1 class="display-1 my-5">Contact App</h1>
        <p class="lead text-white">Welcome to my contact app. This is a simple application to manage your contacts. You can create, read, update, and delete your contacts easily using this app. Get started by clicking the button below.</p>
        <a href="/contact" class="btn btn-lg btn-warning">Get Started</a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-MpX9q+F5EuMkCNzm/xIP4Bw4n4IZ4YvVTwpWlZ8YZslzszD9SfSgfzPeQ19i8UpSm1sAt+f/0oXXPvgWtN8T+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>



