*{
    background-color: aqua;
font-family: 'Dirtyline 36Daysoftype 2022', sans-serif;

}

h2{
    background-color: aqua;
    color: white !important;
}


nav{
font-family: 'Clash Display', sans-serif;

}
