<footer class="bg-dark py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-white">Contact Us</h5>
          <p class="text-white mb-0">1234 Main Street</p>
          <p class="text-white">City, State 12345</p>
          <p class="text-white mb-0">Phone: (123) 456-7890</p>
          <p class="text-white">Email: info@example.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-white">Follow Us</h5>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-white">About Us</h5>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum, nisi sed interdum eleifend, elit leo fringilla elit, non sagittis eros mi vitae enim.</p>
        </div>
      </div>
    </div>
    <div class=" py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-warning text-center mb-0">&copy; 2023 All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  